@media (-moz-pref("no-gap.mode-select", 1)){
	:root[zen-compact-mode="true"]{
		--zen-element-separation: 0px !important;
		.browserSidebarContainer{
			border-radius:0.1px !important;
		}
		.browserSidebarContainer[zen-split="true"]{
			margin:0px !important;
		}
		#tabbrowser-tabbox[zen-split-view="true"] #tabbrowser-tabpanels{
      		margin:0px !important;
    	}
	}
}

@media (-moz-pref("no-gap.mode-select", 2)) {
	:root{
		--zen-element-separation: 0px !important;
		.browserSidebarContainer[zen-split="true"]{
			margin:0px !important;
		}
		#tabbrowser-tabbox[zen-split-view="true"] #tabbrowser-tabpanels{
     		margin:0px !important;
    	}
	}
	:root[zen-compact-mode="true"]{
		.browserSidebarContainer{
			border-radius:0.1px !important;
		}
	}
}


