/* Only in Compact Mode */
@media (-moz-pref("no-gap.border")){
  :root{
    --zen-webview-border-radius: 0.5px;
  } 
}
@media (-moz-pref("no-gap.mode-select", 1)) {
  :root[zen-compact-mode="true"][zen-single-toolbar="true"]:not([customizing]) {
    #zen-appcontent-wrapper #zen-tabbox-wrapper {
      margin: 0px !important;
      /* To remove the extra border gaps */
      position: absolute !important;
      /* To remove the top navbar border gap */
      height: 100% !important;
      width: 100% !important;
    }

    #zen-appcontent-navbar-wrapper, #zen-appcontent-wrapper {
      position: relative; /* To have every absolute position element to be inside this wrapper */
      backdrop-filter: blur(40px) !important;
    }

    /* To have a background color */
    #zen-appcontent-navbar-container:before {
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -10;
    }
    
    #tabbrowser-tabpanels .browserSidebarContainer .browserSidebarContainer{
      border-radius: 0px;
    }
  }
}

/* Both Non Compact and Compact Mode */
@media (-moz-pref("no-gap.mode-select", 2)) {
  :root[zen-single-toolbar="true"]{
    #zen-appcontent-wrapper #zen-tabbox-wrapper {
      margin: 0px !important;
      /* To remove the extra border gaps */
      position: absolute !important;
      /* To remove the top navbar border gap */
      height: 100% !important;
      width: 100% !important;
    }

    #zen-appcontent-navbar-wrapper, #zen-appcontent-wrapper {
      position: relative; /* To have every absolute position element to be inside this wrapper */
      backdrop-filter: blur(40px) !important;
    }

    /* To have a background color */
    #zen-appcontent-navbar-container:before {
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -10;
    }
  }
}

