@media (-moz-pref("no-gap.border")){
  :root{
    --zen-webview-border-radius: 0.5px;
  } 
}

/* Only in Compact Mode */
@media (-moz-pref("no-gap.mode-select", 1)) {
  :root[zen-compact-mode="true"][zen-single-toolbar="true"]:not([customizing]) {
    #zen-appcontent-wrapper #zen-tabbox-wrapper {
      margin: 0px !important;/* To remove the extra border gaps */
      position: absolute !important;/* To remove the top navbar border gap */
      height: 100% !important;
      width: 100% !important;
    }

    /* Transparency Optional */
    @media (-moz-pref("no-gap.transparency")){
      #browser::before{
        content: "";
        position: absolute;
        width: 100% !important;
        height: 30px !important;
        z-index: -100;
        filter:blur(0.1px);
        background-color: rgba(0, 0, 0, 1) !important;
        top:0 !important;
        right:0 !important;
        opacity: 0;
        transition: opacity 0.3s ease-in;
      }

      body:has(#zen-appcontent-navbar-wrapper[zen-has-hover="true"]) #browser::before{
        opacity: 1 !important;
      }
    
      #zen-appcontent-navbar-wrapper{
        backdrop-filter: blur(30px) !important;
      }

      #zen-appcontent-navbar-container::after{
        background: transparent !important;
      }
    }

    #zen-appcontent-navbar-wrapper, #zen-appcontent-wrapper {
      position: relative; /* To have every absolute position element to be inside this wrapper */
    }

    /* To have a background color */
    #zen-appcontent-navbar-container::after {
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 1);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -10;
    }
    
    #tabbrowser-tabpanels .browserSidebarContainer .browserSidebarContainer{
      border-radius: 0px;
    }

    /* Remove gap between the split tabs */
    .browserSidebarContainer[zen-split="true"]{
      margin:0px !important;
    }
    
    #tabbrowser-tabbox[zen-split-view="true"] #tabbrowser-tabpanels{
      margin:0px !important;
    }
  }
}

/* Both Non Compact and Compact Mode */
@media (-moz-pref("no-gap.mode-select", 2)) {
  :root[zen-single-toolbar="true"]{
    #zen-appcontent-wrapper #zen-tabbox-wrapper {
      margin: 0px !important;/* To remove the extra border gaps */
      position: absolute !important;/* To remove the top navbar border gap */
      height: 100% !important;
      width: 100% !important;
    }

    #zen-appcontent-navbar-wrapper, #zen-appcontent-wrapper {
      position: relative; /* To have every absolute position element to be inside this wrapper */
    }

    #zen-appcontent-navbar-wrapper{
      backdrop-filter: blur(30px) !important;
    }

    /* Remove gap between the split tabs */
    .browserSidebarContainer[zen-split="true"]{
      margin:0px !important;
    }
    
    #tabbrowser-tabbox[zen-split-view="true"] #tabbrowser-tabpanels{
      margin:0px !important;
    }

    /* To have a background color */
    #zen-appcontent-navbar-container::after {
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 1);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -10;
    }
  }
  @media (-moz-pref("no-gap.transparency")){
    :root[zen-compact-mode="true"]{
      #browser::before{
        content: "";
        position: absolute;
        width: 100% !important;
        height: 30px !important;
        z-index: -100;
        filter:blur(0.1px);
        background-color: rgba(0, 0, 0, 1) !important;
        top:0 !important;
        right:0 !important;
        opacity: 0;
        transition: opacity 0.3s ease-in;
      }

      body:has(#zen-appcontent-navbar-wrapper[zen-has-hover="true"]) #browser::before{
        opacity: 1 !important;
      }
    
      #zen-appcontent-navbar-container::after{
        background:transparent !important;
      }
    } 
  }
}



